html {
	height:100%;
}

body {
	height:100%;
	background:  #272a33;
	color: white;
	font-family: 'Montserrat', sans-serif;



	background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(bottom, #232526, #414345);
background: -o-linear-gradient(bottom, #232526, #414345);
background: linear-gradient(to top, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

h1 {
	text-transform: uppercase;
	font-size:20px;
	font-weight: bold;
	color: #f5a714;
	margin-bottom:50px;
}

main {
	text-align: center;
	font-size:25px;
	max-width:670px;
	margin: 0 auto;
	/*background: rgba(250, 250, 250, 0.2);*/
}

#locationDiv {
	/*background:green;*/
	position:relative;
	padding-left:25px;
	padding-right:25px;
}

#settings {
	position:absolute;
	right:10px;
	top:10px;
	color: #c4e2ed;
	cursor: pointer;
	transition: all 0.3s ease;
}


#settings:hover {
	color:#71b7d3;
	/*cursor: pointer;*/
}

#settings:active {
	color:#3c9dc3;
}

#myModal {
	color:black;
	text-align:left;
	/*font-family: 'Montserrat', sans-serif;*/
}

.modal-content{
	/*background-color:#f2f2f3;*/
	border-radius:2px;
}

.modal-header {
	padding-bottom:0px;
	border-bottom:0px;
	color: #232526;
}

.modal-body {
	color:#c2c2c2;
	font-size:14px;
}

.form-group {
	margin-bottom:0px;
}

label {
	font-weight:normal;
}

#zipCode{
	background:#f7fbfd;
}

.form-control::-webkit-input-placeholder { color: #71b7d3; }
.form-control:-moz-placeholder { color: #71b7d3; }
.form-control::-moz-placeholder { color: #71b7d3; }
.form-control:-ms-input-placeholder { color: #71b7d3; }

#setSettings {
	background:#f2f2f2;
}

#cancelSettings {
	color:#999999 !important; 
}

.modal-footer {
	border-top:0px;
	padding-top:0px;
}

#location {
	font-size:40px;
	line-height: 45px;
	opacity:0.95;
}

.main-info {
	margin-top:25px;
	margin-bottom:25px;
}

#temp {
	font-size:120px;
}


#temp-type {
	position:absolute;
	font-size:50px;
	top:25px;
	/*right:-35px;*/
	z-index: 99;

	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}


#temp-type-letter {
	border-bottom:2px dashed #c4e2ed;
	color: #c4e2ed;
	transition: all 0.3s ease;
}

#temp-type-letter:hover {
	color:#71b7d3;
	border-bottom:2px dashed #71b7d3;
	cursor: pointer;
}

#temp-type-letter:active {
	color:#3c9dc3;
	border-bottom:2px dashed #3c9dc3;
}

.feelsLike {
	margin-top:-20px;
	font-size:15px;
}

#weather {
	font-size:15px;
	margin-top:-0px;
}

img {
	display:block;
	padding: 0px 0px 0px 0px;
	margin:0 auto;
	height:150px;
	width:150px;

	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}

.other-info {
	font-size:20px;
	opacity:0.975;
}





@media screen and (max-width: 500px) {
 	h1 {
 		margin-bottom:25px;
 	}

 	#locationDiv {
		padding-left:5px;
		padding-right:5px;
	}

 	#location {
		font-size:25px;
		line-height: 30px;
	}

	#settings {
		
		right:5px;
		top:-50px;
	}

	.main-info {
		margin-top:0px;
		margin-bottom:10px;
	}

	#temp {
		font-size:95px;
		/*margin-left:-30px;*/
	}

	img {
	padding-top:;
	}

	.other-info {
		font-size:17px;
	}

	#temp-type {
		position:absolute;
		font-size:35px;
		top:23px;
		
	}
}